@import 'tailwindcss';

@theme {
  /* Colors */
  --color-blue-500: hsl(220 98% 61%);

  --background-image-check: linear-gradient(
    to right,
    hsl(192 100% 67%),
    hsl(280 87% 65%)
  );

  /* Background Images */
  --background-image-mobile: url('/bg-mobile-light.jpg');
  --background-image-desktop: url('/bg-desktop-light.jpg');

  /* Light theme */
  --color-background: hsl(0 0% 98%);
  --color-surface: hsl(0 0% 100%);
  --color-text: hsl(235 19% 35%);
  --color-muted: hsl(236 9% 61%);
  --color-completed: hsl(234 39% 85%);
  --color-border: hsl(233 11% 84%);

  /* Typography */
  --font-josefin: 'Josefin Sans', sans-serif;
}

.dark {
  /* Background Images */
  --background-image-mobile: url('/bg-mobile-dark.jpg');
  --background-image-desktop: url('/bg-desktop-dark.jpg');

  /* Dark Theme */
  --color-background: hsl(235 21% 11%);
  --color-surface: hsl(235 24% 19%);
  --color-text: hsl(236 33% 92%);
  --color-muted: hsl(235 16% 43%);
  --color-completed: hsl(233 14% 35%);
  --color-border: hsl(237 14% 26%);
}

@layer base {
  *,
  *::before,
  *::after {
    @apply transition-colors duration-200;
  }

  body {
    @apply bg-background bg-mobile md:bg-desktop bg-cover bg-no-repeat px-5 py-10 md:py-20 
      flex justify-center font-josefin;
  }

  #root {
    @apply w-full flex justify-center;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}
